// Block Promo

.promo {
	min-height: 650px;
	padding: 21px 0 93px 0;
	background: url('../images/bg/bg.jpg') center center/cover no-repeat;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 90px;
	}
	&__header {
		font-weight: 700;
		font-size: 42px;
		color: #fff;
		text-transform: uppercase;
	}
	&__subheader {
		font-weight: 500;
		font-size: 24px;
		color: #fff;
		text-transform: uppercase;
	}
	&__icons {
		margin-top: 60px;
		width: 425px;
		display: flex;
		justify-content: space-between;
	}
	&__icon {
		width: 108px;
		text-align: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		color: #fff;
		img {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
	&__link {
		margin-top: 8px;
		font-weight: 500;
		font-size: 16px;
		color: #fff;
		text-transform: lowercase;
		a {
			color: #fff;
			text-transform: uppercase;
			text-decoration: underline;
		}
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		width: 250px;
		img {
			width: 100%;
		}
	}
	&__official {
		font-weight: 500;
		font-size: 12px;
		color: #fff;
		text-align: center;
		span {
			display: block;
			font-size: 18px;
		}
	}
	&__phone {
		display: block;
		font-weight: 700;
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	&__contacts {
		flex-basis: 26%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

// Block Benefits

.benefits {
	min-height: 473px;
	background-color: #f6f6f6;
	padding: 73px 0 65px 0;
	&__header {
		color: $headercolor;
		text-align: center;
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
	}

	&__content {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		// align-items: center;
	}

	&__item {
		width: 269px;
	}

	&__icon {
		display: block;
		margin: 0 auto;
	}

	&__subheader {
		text-align: center;
		margin-top: 35px;
		font-weight: 700;
		font-size: 18px;
		color: $headercolor;
	}

	&__text {
		margin-top: 20px;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		color: $headercolor;
		text-align: center;
		a {
			font-weight: 300;
			font-size: 14px;
			color: #ff0000;
		}
	}
}

// Block Consultation

.consultation {
	min-height: 680px;
	padding: 100px 0 108px 0;
	background: url('../images/bg/bg2.jpg') center center/cover no-repeat;
	&__descr {
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #fff;
	}
}
